@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

body {
  background-color: #726E6D;
}
#title-div {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik Glitch', sans-serif;
  color: black;
  text-shadow: 1px 1px 2px crimson;
 font-size: 35px;
}

#rules-div {
  border: 2px solid black;
  justify-content: flex-start;
}

#message-div {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#username-div {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

#Inv-Hp {
  display: flex;
  justify-content: space-between;
}

.styleHpInv {
  display: flex;
  flex-direction: column;
}

#game-field {
  border: 2px solid black;
  height: 40vh;
}

#player-choices {
  display: flex;
  justify-content:flex-start;
  background-color: lightslategray;
}

#player1-choices {
  display: flex;
}

#player2-choices {
  display: flex;
}

.choices {
  border: 2px solid black;
  display: flex;
  padding: 5px;
  margin: 5px;
}

